<div style="width: 25%; margin: auto; padding: 10px;">
  
  <h1>Welcome to Kao's OAuth App</h1>
  <p>By clicking the button below, you will be redirected to login with a google account and the permission to access your email and profile will be requested. You will then be redirected to another page where your first and last name will be displayed, as well as the state variable used to secure the redirect.</p>
  
  <form action="http://localhost:8080/authorize">
    <input type="submit" value="Auth0 authorization and authentication" class="btn btn-primary">
  </form>
</div>


